################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/SistemaInventario/FileContentIndex/b0d53d45-9277-4526-9fe0-3e5816f3da40.vsidx
/.vs/SistemaInventario/FileContentIndex/86c55231-4ce1-41b6-b432-e82e5f969fc3.vsidx
