################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

.vs/
*.vsidx
# Build directories
**/[Bb]in/
**/[Oo]bj/
**/[Ll]og/

# Recycle Bin used on file shares
$RECYCLE.BIN/
# Rider directories
.idea/


# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
/.vs/SistemaInventario/v17/.suo
/.vs/SistemaInventario/v17/DocumentLayout.json
